// Import all of Bootstrap's CSS
@import "node_modules/bootstrap/scss/bootstrap";

.square-box {
  border: 1px solid #333;
}
.vertical-center {
  min-height: 100%; /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}
