// Import all of Bootstrap's CSS
@import "node_modules/bootstrap/scss/bootstrap";

.square-box {
  border: 1px solid #333;
}
.vertical-center {
  min-height: 100%; /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.hidden {
  display: none;
}

.font-family-inter {
  font-family: "Inter", sans-serif;
}

.my-container {
  max-width: 750px;
}

.previous {
  transform: translateZ(40px);
  opacity: 0.8;
}

.container {
  max-width: 800px;
}
.btn-addElem {
  position: absolute; /* this positions the button absolutely */

  right: 0; /* this positions the button at the right of the div */
  margin: 0; /* this removes any margins from the button */
  border: 1px solid black;
  transform: translateX(30%) translateY(-80%) translateZ(100px); /* this moves the button 50% outside of the div border and higher on the Z axis */
}
